.default {
    margin: 10px;
}

.red {
    background: red;
    margin:0 10px;
}

.btn {
    transition-duration: .2s;
    top: 50%;
    left: 50%;
    background-color: #C49B66;
    color: #EEEEEE;
    font-size: 16px;
    min-width: 67px;
    height: 26px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin:0 10px;
    padding-bottom:5px;
}
.btn:hover {
    background-color: #1f1f20;
}
